* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main-color: hsl(240, 79%, 66%);
    --light-shadow: hsl(240, 70%, 73%);
    --dark-shadow: hsl(240, 57%, 53%);
    --input-color: hsl(240, 100%, 87%);
    --font-color: white;
}

body {
    background: var(--main-color);
    display: flex;
    justify-content: center;
    color: var(--font-color);
    font-size: 80px;
    font-family: 'Rajdhani', sans-serif;
    /*align-items: center;*/
}

.timer {
    margin-top: 100px;
    flex-direction: column;
    height: 400px;
    width: 600px;
}

.neo-box {
    border-radius: 50px;
    background-color: var(--main-color);
    box-shadow: 10px 10px 21px var(--dark-shadow),
    -10px -10px 21px var(--light-shadow);
}

#remainingTime {
    display: flex;
    flex-direction: row;
    width: 500px;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

/*span {*/
/*    color: var(--font-color);*/
/*    font-size: 100px;*/
/*    font-family: Palace_of_Sports;*/
/*}*/
.center {
    display: flex;
    justify-content: center;
    align-items: center;
}
.number {
    width: 150px;
    color: var(--font-color);
}

.colon {
    width: 25px;
}

.form {
    margin-bottom: 20px;
}

input {
    border-radius: 20px;
    padding: 20px;
    margin: 10px;
    outline:none;
    border: none;
    font-size: 20px;
    background-color: var(--input-color);
}

button {
    width: 60px;
    height: 60px;
    background-color: var(--main-color);
    box-shadow: 10px 10px 21px var(--dark-shadow),
    -10px -10px 21px var(--light-shadow);
    color: var(--font-color);
    font-family: 'Rajdhani', sans-serif;
    font-size: 20px;
    border:0;
    padding: 10px;
    border-radius: 20px;
}

button:hover {
    box-shadow: 5px 5px 16px var(--dark-shadow),
    -5px -5px 16px var(--light-shadow);
}

