* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main-color: #6565ee;
    --font-color: white;
}

body {
    background: var(--main-color);
    display: flex;
    justify-content: center;
    color: var(--font-color);
    font-size: 80px;
    font-family: Palace_of_Sports;
    /*align-items: center;*/
}

.timer {
    margin-top: 100px;
    flex-direction: column;
    height: 400px;
    width: 600px;
}

.neo-box {
    border-radius: 50px;
    background-color: var(--main-color);
    box-shadow: 10px 10px 21px #4242cb,
    -10px -10px 21px #8888ea;
}

#remainingTime {
    display: flex;
    flex-direction: row;
    width: 500px;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

/*span {*/
/*    color: var(--font-color);*/
/*    font-size: 100px;*/
/*    font-family: Palace_of_Sports;*/
/*}*/
.center {
    display: flex;
    justify-content: center;
    align-items: center;
}
.number {
    width: 150px;
}

.colon {
    width: 25px;
}

input {
    border-radius: 20px;
    padding: 20px;
    margin: 10px;
    outline:none;
    border: none;
}

button {
    width: 60px;
    height: 60px;
    background-color: var(--main-color);
    box-shadow: 10px 10px 21px #4242cb,
    -10px -10px 21px #8888ea;
    color: var(--font-color);
    font-family: Palace_of_Sports;
    font-size: 20px;
    border:0;
    padding: 10px;
    border-radius: 20px;
}
button:hover {
    box-shadow: 5px 5px 16px #4242cb,
    -5px -5px 16px #8888ea;
}

